<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styl.css">
</head>
<body>
    <div>
        <header >
            <div class="head-mine">
            <h3>RabbitTap</h3>
            </div>
              <div class="back-mine">
            <button class="utt"><a href="../templates/index.html" class="utt">back</a></button>
            </div> 
        </header> 
        <main>
            <div class="headdc-mi">
                <div class="Profit">

                       <img src="https://s8.uupload.ir/files/icons8-coin-48_lrbk.png" alt=""  class="coin-main" style="width: 25px;">
                       <p style="color:#3b3b3b ;">40+</p> 
                       <p style="color: #3b3b3b;">Profit</p>
                </div>
                 <a href="./index.html" class="wallet-55"><img src="https://s8.uupload.ir/files/icons8-wallet-48_(1)_7km.png" alt="" style="width: 30px;"></a>
            </div>
            <div class="org-mine">
                <div class="Daily">
                    <p>Daily combo</p>
                    <p>+5,000,000</p>
                </div>
                <div class="box-cart">
                    <div class="cart">
                        <a href=""><img src="https://s8.uupload.ir/files/4photoshop-icon-question-آیکون-علامت-سوال_juh5.jpg" alt="" style="width: 100px; height: 100px; border-radius: 8px;"></a>
                    </div>

                    <div class="cart">
                        <a href=""><img src="https://s8.uupload.ir/files/4photoshop-icon-question-آیکون-علامت-سوال_juh5.jpg" alt=""style="width: 100px;height: 100px;  border-radius: 8px; " ></a>
                    </div>

                    <div class="cart">
                       <a href=""> <img src="https://s8.uupload.ir/files/4photoshop-icon-question-آیکون-علامت-سوال_juh5.jpg" alt=""style="width: 100px; height: 100px;  border-radius: 8px;" > </a>
                    </div>
                </div>
                <div class="all-cart">
                    <a href="" style="text-decoration: none;">
                <div class="ccoin">
                    <p class="title-cart" style="text-decoration: none;">CEO</p>
                    <p class="boox-tt">profit per hour</p>
                    <div class="gggyo" >
                        <img src="https://s8.uupload.ir/files/icons8-coin-80_78bb.png" alt=""style="width: 30px;" >
                        <p>1k</p>
                    </div>
                </div>
                </a>
                <a href="" style="text-decoration: none;">
                    <div class="ccoin">
                    <p class="title-cart">CEO</p>
                    <p class="boox-tt">profit per hour</p>
                    <div class="gggyo">
                        <img src="https://s8.uupload.ir/files/icons8-coin-80_78bb.png" alt=""style="width: 30px;" >
                        <p>1k</p>
                    </div>
                </div>
                </a>
               </div>
               <div class="all-cart">
                <a href=""style="text-decoration: none;" >
                <div class="ccoin">
                    <p class="title-cart" style="text-decoration: none;">CEO</p>
                    <p class="boox-tt">profit per hour</p>
                    <div class="gggyo" >
                        <img src="https://s8.uupload.ir/files/icons8-coin-80_78bb.png" alt=""style="width: 30px;" >

                        <p>1k</p>
                    </div>
                </div>
                </a>
                <a href="" style="text-decoration: none;">
                    <div class="ccoin" style="text-decoration: none;">
                    <p class="title-cart">CEO</p>
                    <p class="boox-tt">profit per hour</p>
                    <div class="gggyo">
                        <img src="https://s8.uupload.ir/files/icons8-coin-80_78bb.png" alt=""style="width: 30px;" >
                        <p>1k</p>
                    </div>
                </div>
                </a>
               </div>
               <div class="all-cart">
                <a href="" style="text-decoration: none;">
                <div class="ccoin">
                    <p class="title-cart" style="text-decoration: none;">CEO</p>
                    <p class="boox-tt">profit per hour</p>
                    <div class="gggyo" >
                        <img src="https://s8.uupload.ir/files/icons8-coin-80_78bb.png" alt=""style="width: 30px;" >
                        <p>1k</p>
                    </div>
                </div>
                </a>
                <a href="" style="text-decoration: none;">
                    <div class="ccoin" style="text-decoration: none;">
                    <p class="title-cart">CEO</p>
                    <p class="boox-tt">profit per hour</p>
                    <div class="gggyo">
                        <img src="https://s8.uupload.ir/files/icons8-coin-80_78bb.png" alt=""style="width: 30px;" >
                        <p>1k</p>
                    </div>
                </div>
                </a>
               </div>
               <div class="alk">
               <div class="tabs" style="background-color: #f2cf43;">
                <div >
                    <img src="https://s8.uupload.ir/files/icons8-deposit-48_d9p.png" alt="" class="img-box">
                    <a href="../templates/index.html" class="tab" id="tab-deposit">tap</a>
                </div>
                  
                <div class="tatle">
                    <img src="https://s8.uupload.ir/files/icons8-golden-fever-48_hi42.png" alt="" class="img-box" >
                    <a class="tab" id="tab-withdraw">mine</a>
            </div>
               
                <div>
                        <img src="https://s8.uupload.ir/files/icons8-wallet-48_(1)_7km.png" alt="" class="img-box" style="margin-left: 7px;">
                        <a class="tab" href="../templates/walet.html" id="tab-wallet">Wallet</a>
                </div>
                <div>
                        <img src="https://s8.uupload.ir/files/icons8-about-48_pjt8.png" alt="" class="img-box">
                        <div class="tab" id="tab-about">friend</div>
                </div>
                </div>
            </div>

            </div>
            
        </main>
    </div>
</body>
</html>