<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styl.css">
</head>
<body>
<div class="all-walet">
    <header>
        <div class="head-mine">
            <h3>RabbitTap</h3>
        </div>
        <div class="back-mine">
            <button class="utt"><a href="./index.html" class="utt">back</a></button>
        </div>
    </header>
    <div class="title-walet">
        <img src="https://s8.uupload.ir/files/icons8-coin-80_qwx.png" alt="" style="width: 90px;">
        <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 30px;">Airdrop
            tasks</p>
    </div>
    <div>
        <p class="text-walet">Listing is on its way. tasks will appear below complete them to participate in the
            Airdrop</p>
    </div>
    <p style="margin-left: 20px;">Taks list</p>
    <div class="link-ton">
        <a href="" class="jjjk">
            <img src="https://s8.uupload.ir/files/icons8-bitcoin-wallet-64_hocj.png" alt="" class="image-wallet">
            <p class="ggggg">connect your TON wallet</p>
        </a>
    </div>
    <div class="alk" style="margin-top: 320px;">
        <div class="tabs" style="background-color: #f2cf43;">
            <div>
                <img src="https://s8.uupload.ir/files/icons8-deposit-48_d9p.png" alt="" class="img-box">
                <a href="../templates/index.html" class="tab" id="tab-deposit">tap</a>
            </div>

            <div>
                <img src="https://s8.uupload.ir/files/icons8-golden-fever-48_hi42.png" alt="" class="img-box">
                <a class="tab" id="tab-withdraw">mine</a>
            </div>

            <div class="tatle">
                <img src="https://s8.uupload.ir/files/icons8-wallet-48_(1)_7km.png" alt="" class="img-box"
                     style="margin-left: 7px;">
                <a class="tab" href="../templates/walet.html" id="tab-wallet">Wallet</a>
            </div>
            <div>
                <img src="https://s8.uupload.ir/files/icons8-about-48_pjt8.png" alt="" class="img-box">
                <div class="tab" id="tab-about">friend</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>